<!--
  ~ Copyright 2014 Stephan Fellhofer
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<html>
<head>
    <title>Administration</title>
    <meta name="decorator" content="atl.admin"/>
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()">
    $webResourceManager.requireResource("org.catrobat.jira.timesheet:administration-resources")
</head>
<body>
<a name="top"></a>
<div id="aui-message-bar"></div>
<div class="loadingDiv"><aui-spinner></aui-spinner></div>
<div class="aui-tabs horizontal-tabs">
    <ul class="tabs-menu">
        <li class="menu-item">
            <a href="#tabs-general"><strong>General Configuration</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-team-configuration"><strong>Team Configuration</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-category-configuration"><strong>Category Configuration</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-teams"><strong>Add/Remove Team</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-categories"><strong>Add/Remove Category</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-monitoring"><strong>Monitoring</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-scheduling"><strong>Background Jobs</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-googledocs"><strong>GoogleDocsImport</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-administration"><strong>Adminstration Actions</strong></a>
        </li>
    </ul>
    <div class="tabs-pane active-pane" id="tabs-general">
        <form id="general" class="aui">
            <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
            <input style="display:none" type="text" name="fakeusernameremembered"/>
            <input style="display:none" type="password" name="fakepasswordremembered"/>

            <h2>Timesheet Read Only</h2>
            <fieldset>
                <div class="field-group">
                    <label for="plugin-permission">Supervisors</label>
                    <input class="text" type="text" id="plugin-permission" name="plugin-permission"
                           title="plugin-permission">

                    <div class="description">
                        <ul>
                            <li>All users and groups are only allowed to access all timesheets but don't have
                                write permissions.
                            </li>
                        </ul>
                    </div>
                </div>
            </fieldset>

            <h2>Timesheet Administrator</h2>
            <fieldset>
                <div class="field-group">
                    <label for="Timesheet Read Only">Allowed Groups/Members</label>
                    <input class="text" type="text" id="plugin-administration" name="plugin-administration"
                           title="plugin-administration">

                    <div class="description">
                        <ul>
                            <li>If nothing is given, every Jira Administrator may read/write</li>
                            <li>If a group is given, every Jira Administrator within this group may read/write</li>
                            <li>If a single member is given and this member is a Jira Administrator this member may
                                read/write
                            </li>
                        </ul>
                    </div>
                </div>
            </fieldset>

            <h2>Pair Programming LDAP Group</h2>
            <fieldset>
                <div class="field-group">
                    <label for="Timesheet PP LDAP">LDAP Group for Pair Programming</label>
                    <input class="text" type="text" id="pp-ldap" name="pp-ldap"
                           title="pp-ldap">

                    <div class="description">
                        The LDAP group which will be displayed for the Pair Programming Category.
                    </div>
                </div>
            </fieldset>

            <h2>E-Mail Notifications</h2>
            <fieldset>
                <div class="field-group">
                    <label for="mail-from-name">From Name</label>
                    <input class="text" type="text" id="mail-from-name" name="mail-from-name"
                           title="mail-from-name" placeholder="Full Sender Name">
                    <div class="description">
                        The name of the sender which is shown in the welcome mail.
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="field-group">
                    <label for="mail-from">From</label>
                    <input class="text" type="text" id="mail-from" name="mail-from"
                           title="mail-from" placeholder="Sender Email Address">
                    <div class="description">
                        The e-mail address of the sender which is shown in the welcome mail.
                    </div>
                </div>
            </fieldset>

            <h3>Out Of Time</h3>
            <fieldset>
                <div class="field-group">
                    <label for="mail-subject-out-of-time">Subject</label>
                    <input class="text" type="text" id="mail-subject-out-of-time" name="mail-subject-out-of-time"
                           title="mail-subject-out-of-time" placeholder="e.g.: [Out Of Time] ...">
                    <div class="description">
                        The subject of the mail, if a student has no time left.
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="field-group">
                    <label for="mail-body-out-of-time">Body</label>
                    <textarea name="mail-body-out-of-time" id="mail-body-out-of-time" rows="10" cols="70"
                              placeholder="Text Of The Email"></textarea>
                    <div class="description">
                        The text of the mail. Following strings will be replaced by Jira automatically:
                        <ul>
                            <li><span class="mono">{{name}}</span>: The name of the member</li>
                            <li><span class="mono">{{time}}</span>: The remaining timesheet hours of the member</li>
                        </ul>
                    </div>
                </div>
            </fieldset>

            <h3>Inactive</h3>
            <fieldset>
                <div class="field-group">
                    <label for="mail-subject-inactive">Subject</label>
                    <input class="text" type="text" id="mail-subject-inactive" name="mail-subject-inactive"
                           title="mail-subject-inactive" placeholder="e.g.: [Inactive Notification] ...">
                    <div class="description">
                        The subject of the mail, if a student was not active since two weeks.
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="field-group">
                    <label for="mail-body-inactive">Body</label>
                    <textarea name="mail-body-inactive" id="mail-body-inactive" rows="10" cols="70"
                              placeholder="Text Of The Email"></textarea>
                    <div class="description">
                        The text of the mail. Following strings will be replaced by Jira automatically:
                        <ul>
                            <li><span class="mono">{{name}}</span>: The name of the member</li>
                            <li><span class="mono">{{date}}</span>: The date of the members last entry</li>
                        </ul>
                    </div>
                </div>
            </fieldset>

            <h3>Inactive & Offline</h3>
            <fieldset>
                <div class="field-group">
                    <label for="mail-subject-offline">Subject</label>
                    <input class="text" type="text" id="mail-subject-offline" name="mail-subject-offline"
                           title="mail-subject-offline" placeholder="e.g.: [Offline Notification] ...">
                    <div class="description">
                        The subject of the mail, if a student was not active since two months.
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="field-group">
                    <label for="mail-body-offline">Body</label>
                    <textarea name="mail-body-offline" id="mail-body-offline" rows="10" cols="70"
                              placeholder="Text Of The Email"></textarea>
                    <div class="description">
                        The text of the mail. Following strings will be replaced by Jira automatically:
                        <ul>
                            <li><span class="mono">{{name}}</span>: The name of the member</li>
                            <li><span class="mono">{{date}}</span>: The date of the members last entry</li>
                        </ul>
                    </div>
                </div>
            </fieldset>

            <h3>Active</h3>
            <fieldset>
                <div class="field-group">
                    <label for="mail-subject-active">Subject</label>
                    <input class="text" type="text" id="mail-subject-active" name="mail-subject-active"
                           title="mail-subject-active" placeholder="e.g.: [active Notification] ...">
                    <div class="description">
                        The subject of the mail, if a student is active again.
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="field-group">
                    <label for="mail-body-active">Body</label>
                    <textarea name="mail-body-active" id="mail-body-active" rows="10" cols="70"
                              placeholder="Text Of The Email"></textarea>
                    <div class="description">
                        The text of the mail. Following strings will be replaced by Jira automatically:
                        <ul>
                            <li><span class="mono">{{name}}</span>: The name of the member</li>
                            <li><span class="mono">{{date}}</span>: The date of the members last entry</li>
                        </ul>
                    </div>
                </div>
            </fieldset>

            <h3>Administrator Applied Timesheet Modifications</h3>
            <fieldset>
                <div class="field-group">
                    <label for="mail-subject-entry-change">Subject</label>
                    <input class="text" type="text" id="mail-subject-entry-change" name="mail-subject-entry-change"
                           title="mail-subject-entry-change" placeholder="e.g.: [Timesheet Entry Change] ...">
                    <div class="description">
                        The subject of the mail, if an administrator changed an member timesheet entry.
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="field-group">
                    <label for="mail-body-entry-change">Body</label>
                    <textarea name="mail-body-entry-change" id="mail-body-entry-change" rows="10" cols="70"
                              placeholder="Text Of The Email"></textarea>
                    <div class="description">
                        The text of the mail. Following strings will be replaced by Jira automatically:
                        <ul>
                            <li><span class="mono">{{name}}</span>: The name of the member</li>
                            <li><span class="mono">{{original}}</span>: The original member entry</li>
                            <li><span class="mono">{{actual}}</span>: The actual member entry (changed by the
                                Administrator)
                            </li>
                        </ul>
                    </div>
                </div>
            </fieldset>
            
            <div class="field-group">
                <input type="submit" value="Save" class="aui-button aui-button-primary">
            </div>

        </form>
    </div>
    <div class="tabs-pane" id="tabs-team-configuration">
        <p></p>
        <h2>Team Configuration</h2>
        <p>Teams can be modified within this tab.</p>
        <p><font color="red">Important: Do not forget to 'save' your changes.</font></p>
        <p></p>
        <form id="team-general" class="aui">
            <div id="teams"></div>

            <div class="field-group">
                <input type="submit" value="Save" class="aui-button aui-button-primary">
            </div>
        </form>
    </div>
    <div class="tabs-pane" id="tabs-category-configuration">
        <p></p>
        <h2>Categories Management</h2>
        <p>
            <ul>
                <li>Categories can be renamed within this tab.</li>
                <li><font color="red"><b>Important Note: Do not forget to 'save' your changes.</b></font></li>
            </ul>
        
        <form id="category-general" class="aui">
            <div id="categories"></div>

        </form>
    </div>
    <div class="tabs-pane" id="tabs-teams">
        <p></p>
        <h2>Team</h2>
        <form id="modify-team" class="aui">
            <fieldset>
                <div class="field-group">
                    <label for="team-name">Team name<span class="aui-icon icon-required"> required</span></label>
                    <input class="text" type="text" id="team-name" name="team-name" title="team-name">
                </div>
                <div class="field-group">
                    <input type="submit" value="Create" class="aui-button aui-button-primary">
                </div>
                <br>
                <div class="field-group">
                    <form class="aui">
                        <p id="team-to-remove-select">
                        </p>
                    </form>
                </div>
                <div class="field-group">
                    <input type="submit" value="Remove" id="removeTeam" class="aui-button aui-button-primary">
                    <div class="description">
                        <p>Note on removing a team:</p>
                        <p>Remove all Users & Categories from the team</p>
                        <p>All Timesheet Entries with this category will be changed to the default team.</p>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="tabs-pane" id="tabs-categories">
        <p></p>
        <h2>Categories</h2>
        <form id="modify-categoryList" class="aui">
            <fieldset>
                <div class="field-group">
                    <label for="category-name">Category name<span
                            class="aui-icon icon-required"> required</span></label>
                    <input class="text" type="text" id="category-name" name="category-name" title="category-name">
                </div>
                <div class="field-group">
                    <input type="submit" value="Create" class="aui-button aui-button-primary">
                </div>
                <br>
                <div class="field-group">
                    <form class="aui">
                        <p id="category-to-remove-select">
                        </p>
                    </form>
                </div>
                <div class="field-group">
                    <input type="submit" value="Remove" id="removeCategory" class="aui-button aui-button-primary">
                    <div class="description">
                        <p>Note on removing a category:</p>
                        <p>Remove the category from all teams in team configuration.</p>
                        <p>All Timesheet Entries with this category will be changed to the default category.</p>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="tabs-pane" id="tabs-monitoring">
        <p></p>
        <h2>Monitoring</h2>
        <form id="modify-monitoring" class="aui">
            <fieldset>
                <div class="field-group">
                    <label for="monitoring-period">Monitoring period</label>
                    <input class="text" type="number" min="0" step="1" id="monitoring-period" name="monitoring-period"
                           title="monitoring-period" placeholder="e.g.: [Needed Time in Months] ...">
                    <div class="description">
                        Number of months in which a user needs to write a certain number of hours into his or her timesheet.
                    </div>
                </div>
                <div class="field-group">
                    <label for="monitoring-required-hours">Minimum required hours</label>
                    <input class="text" type="number" min="0" step="1" id="monitoring-required-hours" name="monitoring-required-hours"
                           title="monitoring-required-hours" placeholder="e.g.: [Needed Time in Hours] ...">
                    <div class="description">
                        Number of hours which needs to be spent per user and monitoring period.
                    </div>
                </div>
                <div class="field-group">
                    <label for="monitoring-exceptions">Exceptions per user</label>
                    <input class="text" type="number" min="0" step="1" id="monitoring-exceptions" name="monitoring-exceptions"
                           title="monitoring-exceptions" placeholder="e.g.: [Number of not reached Periods] ...">
                    <div class="description">
                        Number of times a user is allowed to not reach the minimum required hours per monitoring period.
                    </div>
                </div>
                <div class="field-group">
                    <input type="submit" value="Save" class="aui-button aui-button-primary">
                </div>
            </fieldset>
        </form>
    </div>
    <div class="tabs-pane" id="tabs-scheduling">
        <p></p>
        <h2>User Specific Settings</h2>
        <form class="aui">
            <fieldset>
                ##<p class="input-header">Unlimted Time Modification Permissions</p>
                <div class="field-group form-group">
                    <label for="permitted-users-modify">
                       Allowed mod Users
                    </label>
                    <div class="form-element-container"  name="permitted-users-modify">
                        <select class="select" id="permitted-users-modify"
                                placeholder="Unlimited Modification Access" style="margin-bottom: 15px; margin-top: 15px" multiple="multiple">
                            <option></option>
                        </select>
                        <input type="button" value="Save" class="aui-button-primary aui-button" id="save-allowed-mod-users">
                    </div>
                    <div class="description">
                        List Of Users who have no Modification restriction.<br>
                        The Dropdown only shows Users which have a Timesheet and are currently active.
                    </div>
                </div>
                <div class="field-group form-group">
                    <label for="modification-day-limit">
                        Modification Day Limit
                    </label>
                    <div class="form-element-container" name="modification-day-limit">
                        <input type="number" class="text" id="modification-day-limit" placeholder="Modification Limit in Days">
                        <input type="button" value="Save" class="aui-button-primary aui-button" id="save-modification-day-limit">
                    </div>
                    <div class="description">
                        Give the Number of Days in which TimehseetEntry Modifications (Delete, Edit, Add) should be allowed.
                        Default : 30 Days.
                    </div>
                </div>
            </fieldset>
        </form>
        <h2>Task Scheduling</h2>
        <form id="modify-scheduling" class="aui">
            <h3>Inactive Settings</h3>
            <fieldset>
                <div class="field-group">
                    <label for="scheduling-inactive-time">Inactive Time</label>
                    <input class="text" type="text" id="scheduling-inactive-time" name="scheduling-inactive-time"
                           title="scheduling-inactive-time" placeholder="e.g.: [Inactive Time in days] ...">
                    <div class="description">
                        Number of weeks without a Timesheet entry after which a Timesheet will be marked as "Auto Inactive".
                    </div>
                </div>
                <div class="field-group">
                    <label for="scheduling-offline-time">Disabled Time</label>
                    <input class="text" type="text" id="scheduling-offline-time" name="scheduling-offline-time"
                           title="scheduling-offline-time" placeholder="e.g.: [Offline Time in days] ...">
                    <div class="description">
                        Number of weeks without a Timesheet entry after which a Timesheet will be marked as "Disabled".
                    </div>
                </div>
                <div class="field-group">
                    <label for="scheduling-remaining-time">Remaining Time</label>
                    <input class="text" type="text" id="scheduling-remaining-time" name="scheduling-remaining-time"
                           title="scheduling-remaining-time" placeholder="e.g.: [Remaining Time in days] ...">
                    <div class="description">
                        Number of weeks without a Timesheet entry after which a Timesheet will be marked as "Disabled"
                        after having been automatically reactivated after inactive period.
                    </div>
                </div>
                <div class="field-group">
                    <label for="scheduling-out-of-time">Out Of Time</label>
                    <input class="text" type="text" id="scheduling-out-of-time" name="scheduling-out-of-time"
                           title="scheduling-out-of-time" placeholder="e.g.: [Out Of Time in hours] ...">
                    <div class="description">
                        Number of hours starting from which a notification will be displayed to the user informing him or her about further organizational steps.
                    </div>
                </div>
                <div class="field-group">
                    <input type="submit" value="Save" class="aui-button aui-button-primary">
                </div>
            </fieldset>
            <h3>Manual Trigger</h3>
            <fieldset>
                <div class="field-group">
                    <label for="activity-verification-job">Trigger - Activity Verification Job Manually</label>
                    <input type="submit" value="Activity Verification" id="applyActivityVerificationInterval"
                           class="aui-button aui-button-primary">
                    <p>Iterates over all available Timesheets and verifies if a member is 'active', 'inactive'
                        and updates all Timesheet-States in the database.</p>
                </div>
                <div class="field-group">
                    <label for="activity-notification-job">Trigger - Activity Notification Job Manually</label>
                    <input type="submit" value="Activity Notification" id="applyActivityNotificationInterval"
                           class="aui-button aui-button-primary">
                    <p>Iterates over all available Timesheets and verifies if a member is 'active', 'inactive'
                        and sends email notifications to the Timesheet owner/coordinator/administrator.</p>
                </div>
                <div class="field-group">
                    <label for="out-of-time-verification-job">Trigger - Out Of Time Notification Job Manually</label>
                    <input type="submit" value="Out Of Time" id="applyOutOfTimeInterval"
                           class="aui-button aui-button-primary">
                    <p>Iterates over all available Timesheets and verifies how many remaining Timesheet-Hours a member
                        has left. If the remaining hours are below a predefined limit, an email notification
                        is automatically send to the member and his coordinator.</p>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="tabs-pane" id="tabs-googledocs">
        <p></p>
        <h2>GoogleDocs Import Toggle</h2>
        <button id="toggle-google-docs" class="aui-button" onclick="toggleGoogleDocsImport()">Toggle GoogleDocsImport</button>
        <h2>Admin Google Docs Import</h2>
        <p>Works even if GoogleDocs Import is disabled.</p>
        <p><strong>This feature is still experimental. Use with caution.</strong></p>
        <p>User needs to access their Timesheet at least once to enable the import.</p>
        <form class="aui">
            <input id="select-for-import" class="text" width="120px"></input><br/>
        </form>
        <button class="aui-button" onclick="getTimesheetIDOfUser()">Load User</button>
        <button class="aui-button import-google-docs" disabled>Import GoogleDocs For User</button>
        #include("import.vm")
    </div>
    <div class="tabs-pane" id="tabs-administration">
        <div id="administration-content">
            <h2><font color="green">Export</font></h2>
            <p>Download 'All Timesheets' as <a href="download/timesheets/xlsx">XLSX</a>, as <a href="download/timesheets">CSV</a> or as
                <a href="download/timesheets/json">Json</a>.
            </p>
            <p>Download 'Config' as <a href="download/config/json">Json</a>.</p>

            <h2><font color="blue">Import</font></h2>
            <p>Upload existing 'Timesheets' from <a href="upload/timesheets/json">Json</a>.</p>
            <p>Upload an existing 'Timesheet - Configuration' from  <a href="upload/config/json">Json</a>.</p>

            <h2><font color="gray">Delete</font></h2>
            <div>
                <select class="select" id="delete-user-select"
                    placeholder="Select the Timesheet to delete" style="margin-bottom: 15px; margin-top: 15px">
                    <option></option>
                </select>
            </div>
            <input type="button" value="Delete" class="aui-button-primary aui-button" id="delete-timesheet-for-user"
                style="margin-bottom: 15px; background-color: darkslategray">
            <div class="description">
                Deletes the given Timesheet, this action cannot be undone!
            </div>

            <h2><font color="red">Reset</font></h2>
            <input type="button" class="aui-button-primary aui-button" value="Delete Timesheet Data" id="reset-timesheets" style="background: red;
                margin-top:15px; margin-bottom: 15px;">
            <div class="description">
                Deletes all Timesheet and Entries, but does not change the config (this action cannot be undone).
            </div>
        </div>
    </div>
</div>

<!-- Render the dialog -->
<section role="dialog" id="hidden-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium aui-dialog2-warning"
         aria-hidden="true" data-aui-modal="true" data-aui-remove-on-hide="true" tabindex="-1"
         data-aui-focus-selector=".aui :input:visible:enabled">
    <!-- Dialog header -->
    <header class="aui-dialog2-header">
        <!-- The dialog's title -->
        <h2 class="aui-dialog2-header-main">Longest Inactive Users</h2>
        <!-- Actions to render on the right of the header -->
        <div class="aui-dialog2-header-secondary">
            <form class="aui" action="#">
                <input id="search-field" class="text" type="search" name="search">
            </form>
        </div>
        <!-- Close icon -->
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <!-- Main dialog content -->
    <div class="aui-dialog2-content">
        <p>Potential candidates for submarine...</p>
    </div>
    <!-- Dialog footer -->
    <footer class="aui-dialog2-footer">
        <!-- Actions to render on the right of the footer -->
        <div class="aui-dialog2-footer-actions">
            <button id="dialog-submit-button" class="aui-button aui-button-primary">OK</button>
        ##            <button id="dialog-next-button" class="aui-button">Next</button>
        ##            <button id="dialog-close-button" class="aui-button aui-button-link">Close</button>
        </div>
        <!-- Hint text is rendered on the left of the footer -->
        <div class="aui-dialog2-footer-hint"></div>
    </footer>
</section>
</body>
</html>
