<section role="dialog" class="import-dialog aui-layer aui-dialog2 aui-dialog2-large" aria-hidden="true">
  <header class="aui-dialog2-header">
    <h2 class="aui-dialog2-header-main">Import from Google Docs - Please read carefully</h2>
    <!-- Close icon -->
    <a class="aui-dialog2-header-close">
      <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
    </a>
  </header>

  <div class="aui-dialog2-content">
    <ol>
      <li>
        Verify that the timesheet format is correct. Make sure that
        <ul>
          <li>
            columns of your Google Doc Timesheet are in the following order:<br>
            <code>Date/Datum</code>, <code>From/Von</code>, <code>To/Bis</code>, <code>Duration/Dauer in h</code>,
            <code>Pause</code>, <code>Category</code>, <code>Description/Taetigkeit</code>
          </li>
          <li>
            no entry has missing values (i.e. the end date of the current entry).
          </li>
          <li>
            the entries have a header row that starts with <strong>Datum</strong>
            and a footer row that starts with <strong>BEGINN</strong>.
          </li>
          <li>
            the values in column <code>Date/Datum</code> are formatted this way: <code>YYYY-MM-DD</code> or: <code>DD.MM.YYYY</code>
            (e.g. <code>2015-09-21</code>). <br> To change the format in Google Docs, follow these steps:
            <ol>
              <li>Select Fields in column <code>Date</code></li>
              <li>Click on <strong>Format</strong> > <strong>Number</strong> > <strong>More
                Formats</strong> > <strong>Number Format</strong></li>
              <li>Paste <code>yyyy"-"mm"-"dd</code> and confirm</li>
            </ol>
          </li>
          <li>
            the values in column <code>From</code>, <code>To</code> and <code>Pause</code> are formatted this way:
            <code>HH:MM</code> (e.g. <code>12:00</code>). <br> To change the format in Google Docs, follow these steps:
            <ol>
              <li>Select Fields in column <code>From/To/Pause</code></li>
              <li>Click on <strong>Format</strong> > <strong>Number</strong> > <strong>More
                Formats</strong> > <strong>Number Format</strong></li>
              <li>Paste <code>HH":"MM</code> and confirm</li>
            </ol>
          </li>
          <li>
            that your table has <strong>no</strong> merged cells.
          </li>
        </ul>
      </li>
      <li>Download Timesheet as TSV by clicking <strong>File</strong> > <strong>Download as</strong> >
        <strong>Tab-separated values (.tsv, current sheet)</strong></li>
      <li>Upload file and wait for the import dialog to close itself (it might take a minute).</li>
      <li>Note: the key data (target hours, lectures) will not be imported and has to be set by yourself.</li>
    </ol>
    <i>(tested with Google Chrome)</i></br>
    <strong>Example:</strong></br>
    <pre>
    ignored rows
    Datum	Von	Bis	Dauer in h	Pause	Theorie? Ja => j	Taetigkeit
    2017-03-24	11:30	18:15	06:45			Fixed stuff
    2017-03-23	12:00	13:15	01:15			Did some stuff
    BEGINN
    ignored rows
    </pre>
    <form class="aui" method="POST" enctype="multipart/form-data" id="upload-form">
      <div class="field-group">
        <input class="upfile" type="file" name="upload-field" id="upload-field"/>
      </div>
    </form>

    <footer class="aui-dialog2-footer">
      <div class="aui-dialog2-footer-actions">
        <div class="loadingDiv" style="display: inline-block;visibility: hidden"><span>Saving</span><aui-spinner></aui-spinner></div>
        <button class="aui-button aui-button-primary start-import">Import</button>
      </div>
    </footer>
  </div>
</section>