<html>
<head>
    <title>Timesheet</title>
    <meta name="decorator" content="atl.admin">
    <meta name="decorator" content="atl.userprofile">
    $webResourceManager.requireResource("org.catrobat.jira.timesheet:timesheet-resources")
</head>

<body>
<script type="text/javascript">
    var timesheetID = $timesheetID;
    var isAdmin = $isAdmin;
    var isCoordinator = $isCoordinator;
    var isMasterThesisTimesheet = $isMasterThesisTimesheet;
    var isSupervisor = $isReadOnlyUser;
</script>

<script type="application/javascript">
    function showOverview() {
        document.getElementById("visualization-table").style.visibility = "visible";
        document.getElementById("piChartDiagram").style.visibility = "visible";
        document.getElementById("piChartDiagramTag").style.visibility = "visible";
    }
</script>

<script type="application/javascript">
    function showLineDiagram() {
        document.getElementById("lineDiagram").style.visibility = "visible";
        document.getElementById("lineDiagramTag").style.visibility = "visible";
        document.getElementById("categoryLineDiagram").style.visibility = "visible";
        document.getElementById("categoryLineDiagramTag").style.visibility = "visible";
    }
</script>

<script type="application/javascript">
    function showTeamDiagram() {
        AJS.tabs.setup();
        document.getElementById("teamDiagramTag").style.visibility = "visible";
        document.getElementById("teamDataDiagram").style.visibility = "visible";
        document.getElementById("teamLineDiagram").style.visibility = "visible";
        document.getElementById("teamLineDiagramTag").style.visibility = "visible";
    }
</script>

<header id="inactive-header" role="banner"></header>

<a name="top"></a>

<div id="aui-message-bar"></div>

#*Tabs view*#
<div class="aui-tabs horizontal-tabs" id="table-header">

    <ul class="tabs-menu">
        <li class="menu-item active-tab">
            <a href="#tabs-timesheet"><strong>Timesheet</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-overview" onclick="showOverview();">Summary</a>
        </li>
        <li class="menu-item">
            <a href="#tabs-line" onclick="showLineDiagram();">Time - Visualization</a>
        </li>
        <li class="menu-item">
            <a href="#tabs-team" onclick="showTeamDiagram();">Team - Visualization</a>
        </li>
        <li class="menu-item">
            <a href="#tabs-timesheet-information"><strong>Key Data</strong></a>
        </li>
        <li class="menu-item" id="coord_private">
            <a href="#tabs-timesheet-settings"><strong>View Other Timesheets</strong></a>
        </li>
        <li class="menu-item" id="coord_private_table">
            <a href="#tabs-team-information"><strong>Team Information</strong></a>
        </li>
    </ul>

#*content of the first tab "Timesheet"*#
    <div class="tabs-pane active-pane" id="tabs-timesheet">

        <div id="timesheet-owner-information"></div>

        <div id="button-wrapper">
            <button class="aui-button aui-button-subtle import-google-docs"><span
                    class="aui-icon aui-icon-small aui-iconfont-devtools-checkout"></span> Import from Google Docs
            </button>
        </div>

        <section role="dialog" class="import-dialog aui-layer aui-dialog2 aui-dialog2-large" aria-hidden="true">
            <header class="aui-dialog2-header">
                <h2 class="aui-dialog2-header-main">Import from Google Docs</h2>
                <!-- Close icon -->
                <a class="aui-dialog2-header-close">
                    <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
                </a>
            </header>

            <div class="aui-dialog2-content">
                <ol>
                    <li>
                        Make sure the columns of your Google Doc Timesheet are in the following order:
                        <code>Date</code>, <code>From</code>, <code>To</code>, <code>Duration in h</code>,
                        <code>Pause</code>, <code>Category</code>, <code>Description</code>
                    </li>
                    <li>
                        Make sure the values in column <code>Date</code> is formatted this way: <code>YYYY-MM-DD</code>
                        (e.g. <code>2015-09-21</code>). You can achieve this by
                        <ol>
                            <li>Select Fields in column <code>Date</code></li>
                            <li>Click on <strong>Format</strong> > <strong>Number</strong> > <strong>More
                                Formats</strong> > <strong>Number Format</strong></li>
                            <li>Paste <code>yyyy"-"mm"-"dd</code> and confirm</li>
                        </ol>
                    </li>
                    <li>Make sure the values in column <code>From</code> and <code>To</code> are formatted this way:
                        <code>HH:MM</code> (e.g. <code>12:00</code>). You can achieve this by
                        <ol>
                            <li>Select Fields in column <code>From/To</code></li>
                            <li>Click on <strong>Format</strong> > <strong>Number</strong> > <strong>More
                                Formats</strong> > <strong>Number Format</strong></li>
                            <li>Paste <code>HH":"MM</code> and confirm</li>
                        </ol>
                    </li>
                    <li>Select the rows you want to import, but ensure your <code>Task Description</code> does not
                        exceed 160 characters.
                    </li>
                    <li><strong>Important - </strong> ensure that your table has <strong>no</strong> merged cells.</li>
                    <li>Copy records by clicking on <strong>Edit</strong> > <strong>Copy</strong></li>
                    <li>Paste content in the text box below</li>
                </ol>
                <i>(tested with Google Chrome)</i>

                <form class="aui import-form">
                    <!--<input type="text" name="import-text" class="text" />-->
                    <textarea name="import-text" class="import-text"></textarea>
                </form>

                <footer class="aui-dialog2-footer">
                    <div class="aui-dialog2-footer-actions">
                        <button class="aui-button aui-button-primary start-import">Import</button>
                    </div>
                </footer>
        </section>

    #*content of timesheet table*#
        <div id="timesheet-table" class="aui aui-table-interactive aui-table-sortable table">
            <div class="tr">
                <span class="td">
                    <span class="aui-icon aui-icon-wait">Loading...</span>
                </span>
            </div>
        </div>

    </div>

#*   content of the second tab "Summary"*#
    <div class="tabs-pane" id="tabs-timesheet-settings">
        <form id="timesheet-settings" class="aui">
            <div id="coordinatorTimesheetSelect"></div>
            <div id="approvedUserTimesheetSelect"></div>
        </form>
    </div>

#*   content of the tab "Team Information"*#
    <div class="tabs-pane" id="tabs-team-information">
        <table class="aui aui-table-interactive aui-table-sortable">
            <thead>
            <tr>
                <th>User</th>
                <th>State</th>
                <th>Hours per Month</th>
                <th>Hours per Half Year</th>
                <th>Latest Entry</th>

                <th>Inactive End Date</th>

                <th>Total Practice Hours</th>
                <th>Practice Hours in last 30 Days</th>
            </tr>
            </thead>
            <tbody class="list" id="team-information-table-content">

            </tbody>
        </table>
    </div>

#*    content of the third tab "Time-Visualization"*#
    <div class="tabs-pane active-pane" id="tabs-overview">
        <table id="visualization-table" class="aui aui-table-interactive aui-table-sortable">
            <thead>
            <tr>
                <th id="basic-date">Description</th>
                <th id="basic-time">Value</th>
            </tr>
            </thead>
            <tbody class="list" id="visualization-table-content">
            #* will be filled out by JavaScript *#
            </tbody>
        </table>

        <h3 id="piChartDiagramTag">Visualization of your theory - practical hours distribution</h3>
        <div id="piChartDiagram" style="height: 200px;"></div>
    </div>
#*    content of the third tab "Time-Visualization"*#
    <div class="tabs-pane active-pane" id="tabs-line">
        <h3 id="lineDiagramTag">Visualization of your working time</h3>
        <div id="lineDiagram" style="height:300px;"></div>

        <h3 id="categoryLineDiagramTag">Visualization of your working time related on categories</h3>
        <div id="categoryLineDiagram" style="height:400px;"></div>
    </div>
#*    content of the third tab "Team-Visualization"*#
    <div class="tabs-pane active-pane" id="tabs-team">
        <form id="team-visualization" class="aui">
            <h3 id="teamDiagramTag">Team Visualization</h3>
            <div id="teamDataDiagram" style="height: 300px;"></div>
            <h3 id="teamLineDiagramTag">Team Category Visualization</h3>
            <div id="teamLineDiagram" style="height: 400px;"></div>
        </form>
    </div>

#*    content of the last tab "Key Data"*#
    <div class="tabs-pane" id="tabs-timesheet-information">
        <p>
        <form id="timesheet-information" class="aui">
            <div class="field-group" id="timesheet-export-csv-link">
                <h2>Export</h2>Download timesheet as <a id="download-csv" href="download/timesheet">CSV</a> or only Entries as
                <a id="download-json" href="download/timesheet/json">Json</a>.
            </div>

            <div class="field-group">
                <label for="timesheet-hours-remain">Remaining Timesheet Hours</label>
                <input disabled="disabled" class="text" type="text" id="timesheet-hours-remain"
                       name="timesheet-hours-remain"
                       title="timesheet-hours-remain">

                <div class="description">
                    Shows your remaining timesheet hours.
                </div>
            </div>

            <div class="field-group">
                <label for="timesheet-hours-practical">Finished Practical Hours</label>
                <input disabled="disabled" class="text" type="text" id="timesheet-hours-practical"
                       name="timesheet-hours-practical"
                       title="timesheet-hours-practical">

                <div class="description">
                    Shows your finished practical hours.
                </div>
            </div>
            <div class="field-group" id="theory-hour-key-data">
                <label for="timesheet-hours-theory">Finished Theory Hours</label>
                <input disabled="disabled" class="text" type="text" id="timesheet-hours-theory"
                       name="timesheet-hours-theory"
                       title="timesheet-hours-theory">

                <div class="description">
                    Shows your finished theory hours.
                </div>
                <label for="timesheet-target-hours-theory">Target Theory Hours</label>
                <input class="text" type="text" id="timesheet-target-hours-theory"
                       name="timesheet-target-hours-theory"
                       title="timesheet-target-hours-theory">

                <div class="description">
                    Shows your target theory hours.
                </div>
            </div>

            <div class="field-group">
                <label for="timesheet-hours-text">Target Total Timesheet Hours</label>
                <input class="text" type="text" id="timesheet-hours-text"
                       name="timesheet-hours-text"
                       title="timesheet-hours-text">

                <div class="description">
                    Shows your target total timesheet hours.
                </div>
            </div>

            <div class="field-group">
                <label for="timesheet-hours-lectures">Lectures</label>
                <input class="text" type="text" id="timesheet-hours-lectures" name="timesheet-hours-lectures"
                       title="timesheet-hours-lectures">

                <div class="description">
                    Shows your lectures.
                </div>
            </div>

            <div class="field-group" id="substractTimesheetHours"></div>

            <div class="field-group">
                <div class="timesheet-hours" id="timesheet-hours-update-button">
                    <input type="submit" value="Update" class="aui-button aui-button-primary">
                </div>

                <div class="timesheet-hours" id="timesheet-hours-save-button">
                    <input type="submit" value="Save" class="aui-button aui-button-primary">
                </div>

            </div>
        </form>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>

<script>
    function drawSelectedTeamDiagram(data) {
        new Morris.Line({
            // ID of the element in which to draw the chart.
            element: 'teamDataDiagram',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: data,
            // The name of the data record attribute that contains x-values.
            xkey: 'year',
            // A list of names of data record attributes that contain y-values.
            ykeys: ['value'],
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            labels: ['hours'],
        });
    }
</script>

<script>
    function drawTeamDiagram(data, labelData) {
        new Morris.Area({
            // ID of the element in which to draw the chart.
            element: 'teamLineDiagram',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: data,
            // The name of the data record attribute that contains x-values.
            xkey: 'year',
            // A list of names of data record attributes that contain y-values.
            ykeys: ['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9', 'cat10',
                'cat11', 'cat12', 'cat13', 'cat14', 'cat15'],
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            labels: labelData,
        });
    }
</script>

<script>
    function drawPiChart(data) {
        new Morris.Donut({
            // ID of the element in which to draw the chart.
            //element: 'piChartDiagram',
            element: 'piChartDiagram',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: data,
        });
    }
</script>

<script>
    function drawLineDiagram(data) {
        new Morris.Line({
            // ID of the element in which to draw the chart.
            element: 'lineDiagram',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: data,
            // The name of the data record attribute that contains x-values.
            xkey: 'year',
            // A list of names of data record attributes that contain y-values.
            ykeys: ['value'],
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            labels: ['hours'],
        });
    }
</script>

<script>
    function drawCategoryDiagram(data, labelData) {
        new Morris.Area({
            // ID of the element in which to draw the chart.
            element: 'categoryLineDiagram',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: data,
            // The name of the data record attribute that contains x-values.
            xkey: 'year',
            // A list of names of data record attributes that contain y-values.
            ykeys: ['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9', 'cat10',
                'cat11', 'cat12', 'cat13', 'cat14', 'cat15'],
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            labels: labelData,
        });
    }
</script>
</body>
</html>
