<html>
    <head>
        <title>Upload Backup Servlet</title>
        <meta name="decorator" content="atl.admin"/>
        <script type="application/javascript">
            AJS.toInit(function () {
                var file = undefined;
                AJS.$("#post-inputs").click(function () {
                    file = document.getElementById("upload-field").value;
                    if(file === undefined) {
                        AJS.messages.error({
                            title: "Error !",
                            body: "Select a Timesheet Json Backup file to proceed!"
                        })
                    }
                    else {
                        if(!file.toLowerCase().includes(".json")){
                            AJS.messages.error({
                                title: "Error !",
                                body: "The Datatype of the Backup must be .json!"
                            })
                        }
                        else {
                            AJS.$("#upload-form").submit();
                        }
                    }
                })
            });
        </script>
    </head>
    <body>
        <div id="aui-message-bar"></div>
        <h1>This is the Upload Section</h1>
        <br>
        <h2>Select a Timesheet or Config Json you want to import!</h2><br>
        <h2>This Action will delete all current entries and will replace them with the the data given in the backup file!</h2>

        <form class="aui" method="POST" enctype="multipart/form-data" id="upload-form">
            <div class="field-group">
                <input class="upfile" type="file" name="upload-field" id="upload-field"/>
            </div>
            <div class="field-group">
                <input type="button" value="Submit" class="aui-button aui-button-primary" id="post-inputs">
            </div>
        </form>
    </body>
</html>
