<!--
  ~ Copyright 2014 Stephan Fellhofer
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<html>
<head>
    <title>User Information</title>
    <meta name="decorator" content="atl.admin"/>
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()">
    $webResourceManager.requireResource("org.catrobat.jira.timesheet:user-information-resources")

</head>

<body class="aui-layout aui-theme-default">

	<script type="application/javascript">
	    function showDoneUsers() {
	        document.getElementById("done-users-table").style.visibility = "visible";
	    }
	</script>
	
	<script type="application/javascript">
	    function showDisabledUsers() {
	        document.getElementById("disabled-users-table").style.visibility = "visible";
	    }
	</script>
	
	<script type="application/javascript">
	    function showActiveInactiveUsers() {
	        document.getElementById("user-information-table").style.visibility = "visible";
	    }
	</script>

	<script type="application/javascript">
		function searchFunction(element, tablename, id) {
		  // Declare variables
		  var input, filter, table, tr, td, i;
		  input = document.getElementById(element);
		  filter = input.value.toUpperCase();
		  table = document.getElementById(tablename);
		  tr = table.getElementsByTagName("tr");
		
		  // Loop through all table rows, and hide those who don't match the search query
		  for (i = 0; i < tr.length; i++) {
		    td = tr[i].getElementsByTagName("td")[id];
		    tdTeam = tr[i].getElementsByTagName("td")[2];
		    if (td || tdTeam) {
		      if (td.innerHTML.toUpperCase().indexOf(filter) > -1 || tdTeam.innerHTML.toUpperCase().indexOf(filter) > -1) {
		        tr[i].style.display = "";
		      } else {
		        tr[i].style.display = "none";
		      }
		    }
		  }
		}
	</script>	
	

	<h1><b>Timesheet - User Information</b></h1>
	<div id="aui-message-bar"></div>
	<div class="loadingDiv"><span class="aui-icon aui-icon-wait">Loading...</span></div>
		
#*Tabs view*#

<div class="aui-tabs horizontal-tabs" id="table-header">

    <ul class="tabs-menu nav nav-tabs" id="tabs">
    	<li class="menu-item active-tab">
            <a href="#tabs-statistic"><strong>Statistic</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-users" onclick="showActiveInactiveUsers();"><strong>Active & Inactive</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-disabled-users" onclick="showDisabledUsers();">Disabled Timesheets</a>
        </li>
        <li class="menu-item">
            <a href="#tabs-done-users" onclick="showDoneUsers();">Done Timesheets</a>
        </li>
    </ul>

#*content of the first tab User Statistics*#
    <div class="tabs-pane active-pane" id="tabs-statistic">     
        
            <h2><b> Timesheet User Statistics</b></h2>
            
            <p>
            <table id ="user-information-statistics-table" border="2" frame="void" cellspacing="5" cellpadding="5">
              <tbody id="timesheet-user-statistics">
                #* will be filled out by JavaScript *#
              </tbody>
            </table>

   </div>


#*content of the tab Active & Inactive*#
    <div class="tabs-pane" id="tabs-users">     
		                
        <h2><b> Active and Inactive Timesheets</b></h2>
        <p>
        <input type="text" id="searchInputNamesActive" onkeyup="searchFunction('searchInputNamesActive', 'user-information-table', 0)" placeholder="Search for Users or Teams...">
        <p>
        <table id="user-information-table" class="aui aui-table-interactive aui-table-sortable">
            <thead>
            <tr>
                <th id="ti-users">User</th>
                <th id="ti-view-timesheet">Timesheet Link</th>                     
                <th id="ti-team">Team</th>
                <th id="ti-state">State</th>
                <th id="ti-inactive-end-date">Inactive End Date</th>
                <th id="ti-remaining-hours">Remaining Hours</th>
                <th id="ti-target-total-hours">Target Total Hours</th>
                <th id="ti-total-practice-hours">Total Practice Hours</th>
                <th id="ti-hours-per-monitoring-period">Hours ($monitoringPeriod)</th>
                <th id="ti-hours-per-half-year">Hours last Half Year</th>
                <th id="ti-first-entry-date">Date of the First Entry</th>
                <th id="ti-latest-entry-date">Date of the Latest Entry</th>
                <th id="ti-latest-entry-description">Description of the Latest Entry</th>
                <th id="ti-enabled">Timesheet Enabled</th>
            </tr>
            </thead>
            <tbody class="list" id="user-information-table-content">
            #* will be filled out by JavaScript *#
            </tbody>
        </table>		                		                	                
   </div>


#* content of the 2nd tab "Disabled Users"*#

    <div class="tabs-pane" id="tabs-disabled-users">   
		<h2><b>Disabled Users</b></h2>
        <p>
        <input type="text" id="searchInputNamesDisabled" onkeyup="searchFunction('searchInputNamesDisabled', 'disabled-users-table', 0)" placeholder="Search for Users or Teams...">
        <p>
        <table id="disabled-users-table" class="aui aui-table-interactive aui-table-sortable">
            <thead>
            <tr>
                <th id="ti-users">User</th>
                <th id="ti-view-timesheet">Timesheet Link</th>                       
                <th id="ti-team">Team</th>
                <th id="ti-state">State</th>
                <th id="ti-inactive-end-date">Inactive End Date</th>
                <th id="ti-remaining-hours">Remaining Hours</th>
                <th id="ti-target-total-hours">Target Total Hours</th>
                <th id="ti-total-practice-hours">Total Practice Hours</th>
                <th id="ti-hours-per-monitoring-period">Hours ($monitoringPeriod)</th>
                <th id="ti-hours-per-half-year">Hours last Half Year</th>
                <th id="ti-first-entry-date">Date of the First Entry</th>
                <th id="ti-latest-entry-date">Date of the Latest Entry</th>
                <th id="ti-latest-entry-description">Description of the Latest Entry</th>
                <th id="ti-enabled">Timesheet Enabled</th>
            </tr>
            </thead>
            <tbody class="list" id="disabled-user-info-table-content">
            #* will be filled out by JavaScript *#
            </tbody>
        </table>
    </div>


#*    content of the 3rd tab "Done Users"*#
    <div class="tabs-pane" id="tabs-done-users">
    
		<h2><b>Done Users </b></h2>
        <p>
        <input type="text" id="searchInputNamesDone" onkeyup="searchFunction('searchInputNamesDone', 'done-users-table', 0)" placeholder="Search for Users or Teams...">
        <p>
        <table id="done-users-table" class="aui aui-table-interactive aui-table-sortable">
            <thead>
            <tr>
                <th id="ti-users">User</th>
                <th id="ti-view-timesheet">Timesheet Link</th>                     
                <th id="ti-team">Team</th>
                <th id="ti-state">State</th>
                <th id="ti-inactive-end-date">Inactive End Date</th>
                <th id="ti-remaining-hours">Remaining Hours</th>
                <th id="ti-target-total-hours">Target Total Hours</th>
                <th id="ti-total-practice-hours">Total Practice Hours</th>
                <th id="ti-hours-per-monitoring-period">Hours ($monitoringPeriod)</th>
                <th id="ti-hours-per-half-year">Hours last Half Year</th>
                <th id="ti-first-entry-date">Date of the First Entry</th>
                <th id="ti-latest-entry-date">Date of the Latest Entry</th>
                <th id="ti-latest-entry-description">Description of the Latest Entry</th>
                <th id="ti-enabled">Timesheet Enabled</th>
            </tr>
            </thead>
            <tbody class="list" id="done-user-info-table-content">
            #* will be filled out by JavaScript *#
            </tbody>
        </table>
    </div>

</div>
</body>
</html>
