<!--
  ~ Copyright 2014 Stephan Fellhofer
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<html>
<head>
    <title>User Information</title>
    <meta name="decorator" content="atl.admin"/>
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()">
    $webResourceManager.requireResource("org.catrobat.jira.timesheet:user-information-resources")
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body class="aui-layout aui-theme-default">
<div id="aui-message-bar"></div>
<div class="loadingDiv"><span class="aui-icon aui-icon-wait">Loading...</span></div>
<div id="modify-user" class="mine-ui-content">
    <header class="aui-page-header">
        <div class="left-from-search-field">
            <h2>Timesheet - User Information</h2>
        </div>
        <div class="search-field">
            <form class="ui" onsubmit="return false;">
                <label for="search-filter-overview">Search Filter</label>
                <input type="text" id="search-filter-overview" name="search-filter-overview" data-type="search"
                       title="search-filter-overview">
            </form>
        </div>
    </header>
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                <h3><b> Timesheet User Statistics</b></h3>
                <p>
                <table id ="user-information-statistics-table" border="2" frame="void" cellspacing="5" cellpadding="5">
                  <tbody id="timesheet-user-statistics">
                    #* will be filled out by JavaScript *#
                  </tbody>
                </table>
                <h3><b> Not-Master Timesheets</b></h3>
                <table id="user-information-table" class="aui aui-table-interactive aui-table-sortable" data-filter="true" data-input="#search-filter-overview">
                    <thead>
                    <tr>
                        <th id="ti-users">User</th>
                        
                        <th id="ti-team">Team</th>
                        <th id="ti-state">State</th>
                        <th id="ti-inactive-end-date">Inactive End Date</th>
                        <th id="ti-remaining-hours">Remaining Hours</th>
                        <th id="ti-target-total-hours">Target Total Hours</th>
                        <th id="ti-total-practice-hours">Total Practice Hours</th>
                        <th id="ti-hours-per-half-year">Hours last Half Year</th>
                        <th id="ti-hours-per-month">Hours last Month</th>
                        <th id="ti-latest-entry-date">Date of the Latest Entry</th>
                        <th id="ti-latest-entry-hours">Hours of the Latest Entry</th>
                        <th id="ti-latest-entry-description">Description of the Latest Entry</th>
                        <th id="ti-enabled">Timesheet Enabled</th>
                    </tr>
                    </thead>
                    <tbody class="list" id="user-information-table-content">
                    #* will be filled out by JavaScript *#
                    </tbody>
                </table>
                
                <h3><b> Master Timesheets</b></h3>
                <table id="user-information-table-master" class="aui aui-table-interactive aui-table-sortable" data-filter="true" data-input="#search-filter-overview">
                    <thead>
                    <tr>
                        <th id="ti-users-m">User</th>
                        
                        <th id="ti-team-m">Team</th>
                        <th id="ti-state-m">State</th>
                        <th id="ti-inactive-end-date-m">Inactive End Date</th>
                        <th id="ti-remaining-hours-m">Remaining Hours</th>
                        <th id="ti-target-total-hours-m">Target Total Hours</th>
                        <th id="ti-total-practice-hours-m">Total Practice Hours</th>
                        <th id="ti-hours-per-half-year-m">Hours last Half Year</th>
                        <th id="ti-hours-per-month-m">Hours last Month</th>
                        <th id="ti-latest-entry-date-m">Date of the Latest Entry</th>
                        <th id="ti-latest-entry-hours-m">Hours of the Latest Entry</th>
                        <th id="ti-latest-entry-description-m">Description of the Latest Entry</th>
                        <th id="ti-enabled-m">Timesheet Enabled</th>
                    </tr>
                    </thead>
                    <tbody class="list" id="user-information-table-master-content">
                    #* will be filled out by JavaScript *#
                    </tbody>
                </table>
                
            </section>
        </div>
    </div>
</div>



</body>
</html>
